.cabecalho__menu-hamburguer{
    width: 1.5em;
    height: 1.5em;
    background-image: url(menu.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;  
}


.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu{
    display: block;
}

.lista__menu__titulo, .lista__menu__item{
    padding: 1em;  
    background-color: var(--branco);
}

.lista__menu__titulo{
    color: var(--laranja);
    font-weight: 700;
    
}

.lista__menu__link{
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
     
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__meuperfil, .container__minhasacola{
    display: none;
}

.container__texto{
    display: none;
}

.container__botao:checked~.container__rotulo{
    background-color: var(--azul-escuro);
    background-image: url(menubranco.png);
}

@media screen and (min-width:1024px) {
    
    .container__titulo, .container__titulo__negrito{
        font-family: var(--fonte--secundaria);
        font-size:30px;
        color: var(--preto);
    }
    
    .container__titulo{
        font-weight: 400;
        display: block;
        
    }

    .container__titulo__negrito{
        font-weight: 700;
       
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0.5em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }
    
    .cabecalho__menu-hamburguer{
        display: none;
    }

    .container{
        padding: 0 3em;
    }

    .container__imagem__transparente{
        display: none;
    }

    .opcoes__botao:checked~.lista__menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo{
        background-color: var(--azul-escuro);
        color: var(--branco);
    }

    .opcoes__item{
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .lista__menu__item:hover{
        background-color: var(--azul-escuro);
    }

    .lista__menu__item:hover>.lista__menu__link{
        -webkit-text-fill-color: var(--branco);
    }

    
}


@media screen and (min-width:1728px) {

    .opcoes{
        margin-right: auto;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 1.25em ;
    }

    .container__texto{
        display: block;
    }
}
