.topicos{
    background: var(--azul-degrade);
    text-align: center;  
}

.topicos__titulo{
    text-transform: uppercase;
    color: var(--branco);
    font-weight: 300;
    padding: 1em 0 2em 0;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--branco);
    text-decoration: none;
    background-color: var(--laranja);
    padding: 1em; 
    font-size: 0.875em;
    font-weight: 700;
    margin: 1em 0.6em;
}

@media screen and (min-width:1024px){

    .topicos__titulo{
        font-size: 1.5em;
    }

    .topicos__link{
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1728px){

    .topicos{
        padding: 2em 28em;
    }
}



